.vscode/
projects
custom.el
elpa/
*.el~
cache/recentf
cache/savehist
cache/saveplace
auto-save-list/
blink-search.db
blink-search/
straight/
.cache/
etc/transient/
.lsp-session*
lisp/core/.build/*
.dap-breakpoints
*.el#
etc/plantuml.jar
eshell/history
tramp
/emacs_backtrace.txt
/server/server1032
/server/server10888
eaf/session.json
eaf/pdf/history/
server*
org-persist/
eshell/lastdir
.#*
eln-cache/*
